<main class="mainDetails">
    {{#with livro}}
    <h1>{{titulo}}</h1>
    <p>{{descricao}}</p>
    <span class="category">{{categoria}}</span>
    <span class="price">Preço: R${{preco}}</span>
    <span class="amount">Quantidade estoque: {{quantidade}}</span>
    {{/with}}
    <a href="/">Voltar</a>
</main>