<main class="mainRegister">
    <h1>Atualizar livro</h1>
    {{#with livro}}
        <form action="/atualizar/updatebook/{{id}}" method="post">
            <div>
                <label for="titulo">Título do Livro:</label>
                <input name="titulo" type="text" value="{{titulo}}">
            </div>
            <div>
                <label for="categoria">categoria do Livro:</label>
                <input name="categoria" type="text" value="{{categoria}}">
            </div>
            <div>
                <label for="descricao">Descrição do livro:</label>
                <textarea name="descricao" id="" cols="30" rows="6">{{descricao}}</textarea>
            </div>
            <section class="numberInputs">
                <div>
                    <label for="preco">Preço do Livro:</label>
                    <input step="any" name="preco" type="number" value="{{preco}}">
                </div>
                <div>
                    <label for="quantidade">Quantidade disponível:</label>
                    <input name="quantidade" type="number" value="{{quantidade}}">
                </div>
            </section>
            <div>
                <input class="submit" type="submit" value="Atualizar">
            </div>
        </form>
    {{/with}}
</main>